extends layout

block content
  - const headerString= title
  - const contentString= signedIn?"歡迎 ! !  "+userName:"歡迎來到牌組管理器"

  h1= headerString
  p= contentString
  -if(!signedIn)
    a(href="/account/sign-in/") 登入
    a(href="/account/sign-up/") 註冊
  -else
    a(href="/account/sign-out/") 登出