extends layout

block content
  - const headerString= title
  - const contentString= signedIn?"歡迎 ! !  "+userName:"歡迎來到牌組管理器"

  h1= headerString
  p= contentString
  -if(!signedIn)
    a(href="/account/google-oauth2/sign-in-page/") 登入
    a(href="/account/google-oauth2/sign-up-page/") 註冊
  -else
    a(href="/account/google-oauth2/sign-out-page") 登出