.border{
    padding: 1rem
}

.img-fluid{
    padding: 15px;
    width: 350px;
}

.avatar{
    width: 200px;
    border-radius: 50%;
}

.btn{
    padding: 0.3rem;
}

.google-icon{
    width: 27px;
    height: 27px;
}

.btn-text{
    margin-bottom: 0;
}
