body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee ;
}

a {
  color: #00B7FF;
}

#navbar{
  background: #ddd;
}
.navbar-icon{
  height: 50px;
  width: 50px;
}

.navbar-urls{
  margin:3px;
}

.nav-text{
  margin-bottom: 0;
}

#content{
  padding: 10px;
}

#footer{
  padding: 5px;
}