extends ../layout

block load_css
    link(rel="stylesheet", href="/stylesheets/error/error.css")

block content
    div.container-xxl
        div.row.justify-content-center.text-center
            h2.text-break 錯誤
            p.fs-5.text-break 尚未登入
        div.row.justify-content-center.text-center
            div.col-12.col-lg-6
                img.img-fluid.p-2(src="http://fakeimg.pl/1000x1000/00CED1/FFF/?text=temp+IMG")
        div.row.justify-content-center.text-center.p-2
            div.col-12.col-md-9.col-lg-6
                div.row.justify-content-center.text-center
                    div.col-6.col-sm-4
                        a.btn.btn-outline-dark.w-100(href='/account/google-oauth2/sign-in-page', role="button")
                            p.fs-5.text-break.m-0 立即登入
                    div.col-6.col-sm-4
                        a.btn.btn-outline-dark.w-100(href='/account/google-oauth2/sign-up-page', role="button")
                            p.fs-5.text-break.m-0 尚未註冊?