extends ../../layout

block load_css
    link(rel="stylesheet", href="/stylesheets/account/google-oauth2/google-oauth2.css")

block content

    div.d-flex.justify-content-center
        div.border.border-secondary.col-12.col-sm-9.col-md-7.col-lg-5.col-xl-4
            div.row.text-center
                h2 #{title}
            div.row.d-flex.justify-content-center
                div.col-12.text-center
                    p.fs-5.text-break 要使用這個帳號註冊嗎
                    img.img-fluid.avatar(src=avatar_url)
                    p.fs-5.text-break #{name}
                    p.fs-5.text-break #{email}
                    div.row.d-flex.justify-content-evenly
                        a.btn.btn-outline-dark.col-4(href='/account/google-oauth2/sign-up?confirm=true', role="button")
                            p.fs-5.text-break.btn-text 確認
                        a.btn.btn-outline-dark.col-4(href='/account/google-oauth2/sign-up?confirm=false', role="button")
                            p.fs-5.text-break.btn-text 取消